<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
     #links {
       width: 30%;
       margin-top: 50px;
       margin-left: auto;
       margin-right: auto;
     }
    </style>
  </head>
  <body>
    <div id="links" class="list-group">
    <% @links.each do |link| %>
      <a href="<%= link[:href] %>" class="list-group-item list-group-item-action"><%= link[:name] %></a>
    <% end %>
    </div>
  </body>
</html>
