<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <ul>
      <li>
        <a href="https://github.com/Leonis0813">Github</a>
      </li>
      <li>
        <a href="http://<%= @host %>/redmine">Redmine</a>
      </li>
      <li>
        <a href="http://<%= @host %>/jenkins">Jenkins</a>
      </li>
      <li>
        <a href="http://<%= @host %>/docs">仕様書</a>
      </li>
      <li>
        <a href="http://<%= @host %>/algieba/payments">家計簿</a>
      </li>
    </ul>
  </body>
</html>
